@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-BlackItalic.woff2') format('woff2'),
  url('/fonts/Poppins-BlackItalic.woff') format('woff'),
  url('/fonts/Poppins-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Yellowtail';
  src: url('/fonts/Yellowtail-Regular.woff2') format('woff2'),
  url('/fonts/Yellowtail-Regular.woff') format('woff'),
  url('/fonts/Yellowtail-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsRegular';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
  url('/fonts/Poppins-Regular.woff') format('woff'),
  url('/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
  url('/fonts/Poppins-SemiBold.woff') format('woff'),
  url('/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsLightItalic';
  src: url('/fonts/Poppins-LightItalic.woff2') format('woff2'),
  url('/fonts/Poppins-LightItalic.woff') format('woff'),
  url('/fonts/Poppins-LightItalic.ttf') format('truetype');
}
