.addressPickerContainer {
  display: flex;
  align-items: center;
  z-index: 10000;
  margin-bottom: 10px;
}
.inputWrapper {
  height: 36px;
  margin-right: 10px;
}
.addressPickerButtonContainer {
  display: flex;
  flex-direction: row;
  button {
    margin-left: 5px;
  }
}
