@use '../../UI/variables' as *;
@use '../../assets/fonts/fonts' as *;

.bookingsContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  button{
    padding: 3px 0 0 0;
    margin-bottom: 5px;
  }
}
.modalButtons{
  display: flex;
  flex-direction: column;
  background: $background-color-light;
  box-shadow: $primal-box-shadow;
  padding: 10px;
  border-radius: 6px;
  min-width: 500px;
  overflow: auto;
}
.treatmentNameButton{
  cursor: pointer;
  display: block;
  height: 35px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0;
  box-shadow: $primal-box-shadow;
  background: $background-color-light;
  margin-top: 5px;
  &:hover{
    background: $background-color-dark;
  }
}
.modalContainer{
  width: 550px;
  display: flex;
}
.topMenu{
  padding-left: 10px;
  width: calc(100% - 10px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.openCalendarButton{

}
.calendarWrapper{
  z-index: 10000;
  position: absolute;
}
.dateFilterContainer{
  position: relative;
}
