@use '../../UI/variables' as *;

.input{
  border: 2px solid $primary-color;
  font-size: 25px;
  border-radius: 10px;
  background-color: $background-color;
  &:focus {
    background-color: $background-color-light;
    outline: none;
    border-color: $primary-color;
  }
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}
